<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XB2多语言翻译查询</title>
</head>

<body>
  <p>使用用法：修改url符合这种格式：</p>
  <code>
    <pre>/<语言>/<查询字符串></pre></code>
  <p>例子：</p>
  <p><a href="/cn/异刃">/cn/异刃</a></p>
  <p>支持的语言代号：</p>
  <ul>
    <li>cn 简</li>
    <li>fr 法</li>
    <li>gb 英</li>
    <li>ge 德</li>
    <li>it 意</li>
    <li>jp 日</li>
    <li>sp 西</li>
    <li>tw 繁</li>
  </ul>
</body>

</html>
